body {
  background: #444;
  color: #fff;
  text-align: center;
  font-family: 'Fira Code';
  font-weight: 300;
  box-sizing: border-box;
  max-width: 100%;
  max-height: 100%;
}

input{
  background: #444;
  color: #fff;
  text-align: center;
  border: none;
  height: 20px;
  padding: 5px;
}

.calculadoraCLT{
  height: auto;
  background: black;
  display: flex;
  flex-direction: column;
}

.salario{
  height: 75px;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.impostos{
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
}

.nome-imposto{
  margin-bottom: 5px;
}


/* Barra */

.divbarra{
  display: flex;
  width: 100%;
}

.barra{
  height: 50px;
  width: 100%;
}

.green{
  background: green;
}

.orange{
  background: orange;
}

.red{
  background: red;
}